
body{
	text-align: center;
}


body,a{
	text-decoration: none;
}

h1 {
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin-left: 3rem;
	font-family: courier new;
	color: black;
}


.text a h1:hover{
	color:white;
}

pre{
	font-size: 20px;
	line-height: 1.6;
	letter-spacing: -0.047em;
	font-weight: 100;
	font-style: normal;
}

img{
	width: 50%;
}

div{
	margin-left: 3rem;
	margin-bottom: 5rem;
}

p{
	margin-left:3rem;
	margin-bottom: 5rem;
	font-size: 2rem;
}

table{
	font-family: Helvatica;
	width:300px;
	height:300px;
}

.text{
	text-align: left;
	width:300px;
	height:100%;
	background-color:snow;
	margin-left: 14rem;

}

.red1{
	margin-top: 5rem;
	width: 100px;
	height:100px;
	background-color: darkred;
	margin-left: 30rem;
	color:white;
	font-size:2rem;
}

.red2{
	width: 100px;
	height:100px;
	background-color: firebrick;
	margin-left: 30rem;
	color:white;
	font-size: 2rem;
}

.red3{
	width: 100px;
	height:100px;
	background-color: indianred;
	margin-left: 30rem;
	color:white;
	font-size: 2rem;
}

.red1 